@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Poppins, sans-serif;
}

:root {
  --text-color: #0f1419;
  --text2-color: #576975;
  --twitter-blue: #1d9bf0;
  --grey-bg: #f7f9f9;
  --line-color: #eee;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
h5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text2-color);
}

.container {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
.left-sidebar {
  flex-basis: 30%;
}
.logo {
  width: 12.5%;
}
.icon {
  width: 12.8%;
  align-items: center;
}
span {
  color: var(--text-color);
  font-size: 20px;
  margin-left: 10px;
}
.left-sidebar ul li {
  display: block;
  padding: 19px 0.5em;
}

.btn {
  padding: 15px 70px;
  border-radius: 25px;
  background-color: var(--twitter-blue);
  color: #fff;
  margin-bottom: 80px;
}
.top img {
  width: 5%;
}
.top {
  display: flex;
  height: 9%;
  width: 100%;
  padding-top: 15px;
  background: #ffffff;
}
.top h3 {
  color: var(--text-color);
}

.top img {
  display: flex;
  float: right;
}

.main-content {
  flex-basis: 50%;
  border: solid 1px #eee;
  height: auto;
  padding: 0 15px;
}
.right-sidebar {
  flex-basis: 20%;
}
.user-pic {
  width: 60px;
  border-radius: 50%;
  border: solid 2px rgb(255, 255, 255);
}
.user-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-details h3 {
  color: var(--text-color);
}
.Whts-happening {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text2-color);
}

.right-sidebar {
  flex-basis: 30%;
  height: 100vh;
}
.media-icons {
  padding: 20px 0;
}

.media-icons ul {
  display: flex;
  margin-left: 55px;
}
.media-icons img {
  width: 15px;
  margin-left: 20px;
}
